{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["> 5%"]
      }
    }]
  ],
  "plugins": [
    "babel-plugin-transform-flow-strip-types",
    "transform-object-rest-spread"
  ],
  "sourceMaps": "inline"
}
