{
  "plugins": [
    "babel-plugin-transform-flow-strip-types",
    "transform-object-rest-spread"
  ],
  "env": {
    "umd": {
      "sourceMaps": "inline",
      "presets": [
        ["env", {
          "targets": {
            "browsers": ["> 2%"]
          }
        }]
      ]
    }
  }
}
